/* 
NR1 styling clashes with semantic
This file reimplements semantic css with !important to allow Semantic components to be styled correctly
*/

.ui.search.selection.dropdown > input.search {
  line-height: 1.21428571em !important;
  padding: 0.67857143em 2.1em 0.67857143em 1em !important;
}
.ui.search.dropdown > input.search {
  position: absolute !important;
  z-index: 2 !important;
}
.ui.search.dropdown > input.search {
  background: none transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: text !important;
  top: 0 !important;
  left: 1px !important;
  width: 100% !important;
  outline: 0 !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  padding: inherit !important;
}
